/* App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

/* App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

.pokemon-list {
  font-size: 18px; /* Altere o tamanho da fonte conforme necessário */
  max-height: 300px; /* Define a altura máxima da lista para permitir o scroll */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical caso o conteúdo exceda a altura máxima */
}
